<!-- <div #htmlElement>
    This is an element
</div> -->

<!-- <app-child #childComp></app-child>
<app-child #childComp></app-child>
<app-child #childComp></app-child>
<app-child #childComp></app-child>
<app-child #childComp></app-child> -->

<app-child #childComp>
    <app-child-content #myFirstComp></app-child-content>
    <app-child-content #myFirstComp></app-child-content>
    <app-child-content #myFirstComp></app-child-content>
    <app-child-content></app-child-content>
    <app-child-content></app-child-content>
</app-child>