<!-- single-slot content -->
<!-- <app-single-slot>
  <p>This is the body section</p>
  <p>This is the body section</p>
  <p>This is the body section</p>
  <p>This is the body section</p>
  <p>This is the body section</p>
</app-single-slot> -->

<!-- multi-slot -->
<!-- <app-multi-slot>
  <div upper>Upper part</div>
  <div lower>Lower Part</div>
  <div mid>Mid part</div>

  <div class="class-display">Display using class</div>
</app-multi-slot> -->

<!-- <ng-container [ngTemplateOutlet]="templateUnderConstruction">Inside here</ng-container>

<ng-template #template1>
  <p>This is template 1</p>
  <p>Update 2</p>
</ng-template>
<ng-template #templateUnderConstruction>
  <p>Under construction</p>
</ng-template> -->

<!-- <ng-container [ngTemplateOutlet]="messageTemplate"[ngTemplateOutletContext]="{name:'John', age:30}"></ng-container> -->
<!-- <ng-container [ngTemplateOutlet]="messageTemplate"[ngTemplateOutletContext]="{$implicit:$implicit}"></ng-container> -->

<!-- <ng-template let-name let-age #messageTemplate>
<p>Values receive: {{name}} {{age}}</p>
</ng-template> -->

<!-- <app-template-example></app-template-example> -->

<app-view-example></app-view-example>
